Clarify domains for whitelabel and custom email in FAQ

It is not possible to use a whitelabel domain for login, eg `https://secure.domain.tld`, also as email domain, so `jim@secure.domain.tld` at the same time. As a user, i would like to know this from the documentation before running into an error during setup.

This is due to the fact that for a whitelabel domain we ask users to point a `CNAME` alias to the `mail.tutanota.com` domain to show the login. But an alias domain **MUST NOT** have an MX record on it, so it cannot be used as a domain record (see [RFC1034 Section 3.6.2](https://datatracker.ietf.org/doc/html/rfc1034#section-3.6.2)). Users are free to use any other domain for whitelabel, or even a subdomain of the email domain, so `jim@secure.domain.tld` and `https://login.secure.domain.tld` would be fine.

This should be clear from the FAQ.