Feature request: Markdown support (UI and text/markdown from RFC 7763/7764)

I wish Tuta Mail had an option to send and receive mails that are explicitly labeled as using Markdown (preferably in the Commonmark variant) as specified in [RFC 7763](https://tools.ietf.org/html/rfc7763) and its companion [RFC 7764](https://tools.ietf.org/html/rfc7764).

Not many mail user agents do implement these yet, unfortunately, and there would need to be some tests whether sending as `text/markdown` _instead of_ rather than _in addition to_ `text/plain` yields any serious compatibility problems. The expected result is that receiving MUAs just display the Markdown text verbatim. Receiving such mails and parsing them for enriched displaying should be implemented regardless.

### Expected behavior
* If Tuta had a rich text editor that added formatting to the mail text Send Markdown formated mails , there should be an option to use `text/markdown` instead of `text/html` or `text/enriched` ([RFC 1563](https://tools.ietf.org/html/rfc1563)/[1896](https://tools.ietf.org/html/rfc1896)) or `text/richtext` ([RFC 1341](https://tools.ietf.org/html/rfc1341)/[1521](https://tools.ietf.org/html/rfc1521)).
* If Tuta detected that the user (supposedly) manually entered Markdown formatting, Tuta should offer to send the mail as `text/markdown`.

### Actual behavior
* Tuta does not have a rich text editor.
* Tuta does not detect the use of formatting characters or codes.
* Tuta sends mails as `text/plain` (or `text/html`?).